/* Desktop Feed */
.main-content {
    /* background-color: #fafafa; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* position: relative;
    z-index: -1; */
}

.grid-system-for-desktop{
    margin-top: 2%;
    width: 55%;
    /* max-width: 1000px; */
    display: grid;
    grid-template-columns: 55% 40%;
    grid-gap: 1.875rem;
}

.story-section-wrapper {
    background-color: #fafafa;
    border: 1px solid rgb(220,220,220);
    border-radius: 8px;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    width: 100%;
    position: relative;
}


.story-section-wrapper::-webkit-scrollbar{
    display: none;
}

/* Loading Animation */

.loadingFeed {
    color: gray;
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    transform: scale(0.5)
}

.loadingFeed div {
    transform-origin: 2.5rem 2.5rem;
    animation: lds-spinner 1.2s linear infinite;
}

.loadingFeed div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0.188rem;
    left: 2.313rem;
    width: 0.375rem;
    height: 1.125rem;
    border-radius: 20%;
    background: gray;
}

.loadingFeed div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.loadingFeed div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.loadingFeed div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.loadingFeed div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.loadingFeed div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.loadingFeed div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.loadingFeed div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.loadingFeed div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.loadingFeed div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.loadingFeed div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.loadingFeed div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.loadingFeed div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* End Loading Animation */


.post-setion-wrapper {
    width: 100%;
    height: fit-content;
}

.suggestion-section-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.profile-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.username-name-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.suggestion-section-photo {
    display: flex;
    align-items: center;
}

.suggestion-section-photo > img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}


.follow {
    font-size: 0.8rem;
    color: #129cf7;
    font-weight: bolder;
}

.follow:hover {
    cursor: pointer;
}

.suggestion-title {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestion-title > h5 {
    color: gray;
    font-size: 0.9rem;

}

.suggestion-title > p {
    font-size: 0.8rem;
    font-weight: bold;
}

.suggestion-section-photo-suggestion {
    display: flex;
    align-items: center;
    margin: 3% 0;
}

.suggestion-section-photo-suggestion > img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.footer-section-wrapper {
    margin-top: 10%;
}

.f-link {
    padding: 0 1%;
    color: gray;
    font-size: 0.7rem;
    text-decoration: none;
}

.f-link:hover {
    text-decoration: underline;
}

.footer-copyright {
    margin-top: 5%;
    font-size: 0.8rem;
    color: gray;
}


.like-comment-share-save {
    padding: 2% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.like-comment-share {
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.save {
    margin-right: 3%;
}


.other-likes {
    width: 100%;
    padding-left: 3%;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 1% 0;
}

.other-description {
    width: 100%;
    padding-left: 3%;
    font-size: 0.8rem;
    margin: 1% 0;
}

.other-description > span {
    padding-right: 1%;
    font-weight: bold;
}

.other-viwes, .other-time {
    width: 100%;
    padding-left: 3%;
    color: gray;
    font-size: 0.8rem;
    margin: 1% 0;
}

.icon-input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.comment-section {
    border-top: 1px solid rgb(220,220,220);
    padding: 1% 3%;
    width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comment-input {
    outline: none;
    border: none;
    padding-left: 1%;
    background-color: inherit;
}

.comment-input-button {
    border: none;
    background-color: inherit;
    color:  #129cf7;
    font-weight: bold;
}

/* End Desktop Feed */

/* Mobile Feed */

@media only screen and (max-width: 600px) {
    .right-col {
        display: none;
    }

    .main-content {
        /* background-color: #fafafa; */
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        margin-bottom: 10%;
    }
    
    .grid-system-for-desktop {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .story-section-wrapper {
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;
        width: 100%;
        position: relative;
        background-color: inherit;
        border: none;
    }

  }


/* End Mobile Feed */

