.profile-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.username-name-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.suggestion-section-photo {
    display: flex;
    align-items: center;
}

.suggestion-section-photo > img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.suggestion-section-photo-Lazy {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 2px 0;
}

.lazySuggestionUsername {
    width: 7rem;
    height: 0.8rem;
    border-radius: 2px;
    margin: 3px 0;
}

.lazySuggestionName {
    width: 5rem;
    height: 0.8rem;
    border-radius: 2px;
    margin: 3px 0;
}

.follow {
    font-size: 0.8rem;
    color: #129cf7;
    font-weight: bolder;
}

.follow:hover {
    cursor: pointer;
}