.AccountDetailsWrapper, .AccountIndividualStory {
    width: 60%;
    margin: 0 auto;
}

.AccountIndividualStory {
    display: flex;
    gap: 1rem;
}

.lineMD {
    background-color: rgb(220,220,220);
    height: 1px;
    border: none;
    width: 60%;
    margin: 0 auto;
}

.AccountIndividualStoryWrapper {
    margin: 2% 0;
}


.AccountOtherDetails {
    margin-left: 15%;
}

.MobileAccountNameDes, .MobileLikeShareComment, .MoblieAccountIndividualStory {
    display: none;
}


.AccountProfilePhoto > img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
}

.EditProfileBtn {
    background-color: inherit;
    border: 1px solid rgb(220,220,220);
    border-radius: 4px;
    font-size: 0.8rem;
}

.EditProfileBtn:hover {
    cursor: pointer;
}

.MobileLikeShareComment {
    margin: 0 5%;
}

@media screen and (max-width: 600px) {
    .AccountDetailsWrapper {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

    .AccountOtherDetails {
        /* display: none; */
        margin-left: 1%;
    }

    .AccountLike, .NameCap, .SettingIcon, .AccountIndividualStory {
        display: none;
    }


    .AccountProfilePhoto > img {
        width: 4rem;
    }
    .AccountOtherDetails > div {
        flex-direction: column;
        margin: 2%;
    }

    .EditProfileBtn {
        margin-top: 5%;
        width: 100%;
    }

    .MobileAccountNameDes, .MoblieAccountIndividualStory {
        display: flex;
        width: auto;  
        margin: 2% 7%;
    }

    .MobileLikeShareComment {
        display: block;
    }

    .lineMD {
        width: 100%;
    }

    .AccountIndividualStoryWrapper {
        margin: 2% 0;
    }

}