.FollowersModelWrapper {
    display: none;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;                                                                                          ;
    left: 0;
    top: 0;
    background-color: rgb(87,87,87,0.5);
}

.FollowersModel {
    background-color: white;
    height: fit-content;
    width: 30%;
    height: 60%;
    border-radius:  8px;
}

.follwerSectionNavDp {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.topNavFollowersModel {
    border-bottom: 1px solid #dbdbdb;
}

.individualShareFollwerWrapper {
    height: fit-content;
    overflow: hidden;
    overflow-y: auto;
}

.removeBtn {
    background-color: white;
    color: black;
    border: 1px solid #dbdbdb;
}

@media screen and (max-width: 600px) {
    .FollowersModel {
        background-color: white;
        height: fit-content;
        width: 100%;
        height: 100%;
        border-radius: 0%;
    }
}