.individual-story:hover {
    cursor: pointer;
}

.individual-story:first-child{
    margin: 0 0;
}

.individual-story {
    margin: 0.5rem 0;
}

/* Story */

.circle {
    /* margin: 2%; */
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    top: -0.4rem;
}

.UsernameStoryMobileinside {
    margin-top: 0.2rem;
    position: relative;
    top: -0.6rem;
    left: 0.5rem;
    font-size: 0.7rem;
    white-space: nowrap; 
    width: 3.5rem; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.MobileRotate {
    fill: none;
    stroke: #8a3ab9;
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    animation: stroke-draw 6s ease-out infinite alternate;
    enable-background:new -580 439 577.9 194;
}

.storyPhotoMobile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
}


@keyframes stroke-draw {
    from {
        stroke: #8a3ab9;
        stroke-dasharray: 1;
    }

    to {
        stroke: #cd486b;
        transform: rotate(180deg);
        stroke-dasharray: 8;
    }
}

/* Story End */