.EditProfileWrapper {
    width: 100%;
}

.profilePicSetting {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

tr {
    margin: 2%;
}

/* table,tbody, tr, td {
    border: 1px solid red;
  } */