/* Navbar Desktop */
.navbar-wrapper {
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    height: 9%;
}

.navbar-content-wrapper {
    height: fit-content;
    width: 70%;
    margin: 0.9rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hoverPost:hover {
    cursor: pointer;
}


/* Drop Down End */

.search-menu-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.search-box {
    /* margin-right: 10.5rem; */
    border: none;
    padding: 0;
}

.search-box>input {
    border: none;
    border-radius: 5px;
    display: block;
    padding: 8px 4px 9px 40px;
    background: #efefef url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' className='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}


.menu-isons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.search-desktop {
    display: none;
}

.nav-profile-Photo {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

/* End Navbar Desktop */


/* Navbar Moblie */
@media only screen and (max-width: 800px) {
    .navbar-wrapper {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(220, 220, 220);
        display: flex;
        height: fit-content;
        justify-content: center;
        align-items: center;
        height: 9%;
    }

    .navbar-content-wrapper {
        height: fit-content;
        width: 100%;
        margin: 0.5rem auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo {
        margin-top: 2%;
    }

    .logo-dropdown {
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .camera-icon-mobile,
    .chat-icon-mobile {
        display: block;
    }

    .camera-icon-mobile {
        margin-left: 4%;
    }

    .chat-icon-mobile {
        margin-right: 4%;
    }

    #dropDownIcon,
    #dropdown,
    #dropbtn,
    #dropdown-content {
        display: none;
    }

    .search-box {
        display: none;
    }

    .menu-isons {
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(220, 220, 220);
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    .Messenger-mobile,
    .Find-people-mobile {
        display: none;
    }

    .icons {
        margin: 2% 0;
    }

    .search-desktop {
        display: block;
    }
}

/* Navbar Moblie */


/* ToolTip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 10rem;
    background-color: white;
    color: black;
    padding: 0.5rem 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    font-size: 0.9rem;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ToolTip */