/* Heigtht */
.vh-100{
    height: 100vh;
}

.h-auto {
    height: auto;
}

.h-100 {
    height: 100%;
}

/* End Heigtht */

/* Width */

.w-auto {
    width: auto;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-100vw{
  width: 100vw;

}

/* End Width */

/* Flex Box */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-around {
    justify-content:space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.gap-2 {
    gap: 8px;
}
.gap-3 {
    gap:16px;
}

/* End Flex Box */


/* Font  */

.fs-1 {
    font-size: 0.7rem;
}

.fw-bold {
    font-weight: bold;
}

/* End Font  */


/* Margin */

.m-1 {
    margin: 4px;
}

.m-2 {
    margin: 8px;
}

.m-3 {
    margin: 16px;
}

.m-4 {
    margin: 32px;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3{
    margin-top: 16px;
}

.mt-4{
    margin-top: 32px;
}

.mt-5{
    margin-top: 64px;
}

.mx-3 {
    margin: 0 16px;
}

.my-1 {
    margin: 4px 0;
}

.my-2 {
    margin: 16px 0;
}

.my-4 {
    margin: 32px 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 16px;
}

.mb-4 {
    margin-bottom: 32px;
}

.mr-1 {
    margin-right: 8px;
}

.mr-2 {
    margin-right: 16px;
}

.mr-3 {
    margin-right: 32px;
}

.ml-2 {
    margin-left: 16px;
}

.ml-3 {
    margin-left: 32px;
}

/* End Margin */


/* Padding */

.p-0 {
    padding: 0px;
}
.p-1 {
    padding: 4px;
}

.p-2 {
    padding: 8px;
}

.p-3 {
    padding: 16px;
}

.px-2 {
    padding: 8px 0;
}

.py-1 {
    padding: 0 4px;
}

.py-2 {
    padding: 0 8px;
}

.pr-3 {
    padding-right: 16px;
}

.pt-1 {
    padding-top: 4px;
}

.pt-2 {
    padding-top: 8px;
}

.pb-5 {
    padding-bottom: 32px;
}

/* End Padding */


/* Text */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-gray {
    color: #8e8e8e;
}

.text-white {
    color: white;
}
/* End Text */

/* Line */
.line {
    background-color: rgb(220,220,220);
    height: 1px;
    border: none;
    width: 95%;
    margin: 2%;
}

.line-100 {
    background-color: rgb(220,220,220);
    height: 1px;
    border: none;
    width: inherit;
    margin: 2% 0;
}

/* End Line */


/* Extra */
.colorBlue {
    color: #0095f6;
}

.help {
    font-size: 0.75rem;
    color: #8e8e8e;
    margin-top: 3%;
}

/* Extra */

/* Link */

.link {
    text-decoration: none;
    color: black;
}

.input {
    border: none;
    border-radius: 5px;
    display: block;
    /* margin-left: 2%; */
    padding: 3%;
    background-color: #efefef;
    /* width: 100%; */
}

/* End Link */

/* Position */
.sticky {
    position: sticky;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

/* End Position */
